<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- Open Empty Gazebo -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!-- Add the world -->
		<arg name="world_name" value="$(find my_robot_description)/worlds/brick_world.world"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="verbose" value="true"/>
	</include>
	
	<group ns="/my_robot">
		<!-- Robot Model -->
		<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find my_robot_description)/urdf/robot.urdf'" />
		<arg name="x" default="0"/>
		<arg name="y" default="0"/>
		<arg name="z" default="0"/>
		<!-- Spawn the Robot Model -->
		<node name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
				args="-urdf -param robot_description -model my_robot -x $(arg x) -y $(arg y) -z $(arg z)" />
		<!-- Load Controllers -->
		<rosparam command="load" file="$(find my_robot_description)/config/joints.yaml" />
		<!-- Controllers -->
		<node name="controller_spawner" pkg="controller_manager" type="spawner"
				respawn="false" output="screen" ns="/my_robot"
				args="--namespace=/my_robot
				joint_state_controller
				front_left_wheel_revolute_controller
				front_right_wheel_revolute_controller
				back_left_wheel_revolute_controller
				back_right_wheel_revolute_controller
				front_left_wheel_rotate_controller
				front_right_wheel_rotate_controller
				back_left_wheel_rotate_controller
				back_right_wheel_rotate_controller
				--timeout 60"></node>
	</group>
</launch>

